/* Write your code here. */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff30;
  border: solid 1px #ffffff33;
}
.logo-name {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .logo-name {
    margin-left: 50px;
  }
}
.logo {
  height: 30px;
}
@media screen and (min-width: 768px) {
  .logo {
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .nav-container {
    height: 80px;
  }
}
.ligo-heading {
  font-family: Roboto;
  font-size: 20px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .ligo-heading {
    font-size: 40px;
  }
}
.score {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .score {
    margin-right: 50px;
  }
}
.show-score {
  font-family: Roboto;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .show-score {
    font-size: 16px;
    margin-right: 15px;
  }
}
.show-topscore {
  font-family: Roboto;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .show-topscore {
    margin-right: 20px;
    font-size: 16px;
  }
}
.hide {
  display: none;
}
